include README.md
include LICENSE
include SECURITY.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include bulwark *.py *.pyi py.typed
recursive-include bulwark/models *
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
